---
import LucideIcon from "@/components/helpers/LucideIcon.astro";
---

<button
  type="button"
  aria-label="Toggle navigation"
  data-hs-collapse="#nav-menu"
  aria-controls="nav-menu"
  class="nav-toggler hs-collapse-toggle group relative flex h-10 w-10 items-center justify-center rounded-full bg-white ring-1 ring-white/25 transition-all duration-200 hover:ring-4 focus:outline-none lg:hidden">
  <LucideIcon
    icon="Menu"
    class="text-theme-dark hs-collapse-open:rotate-90 hs-collapse-open:scale-75 hs-collapse-open:opacity-0 absolute h-5 w-5 transition-all duration-300"
  />
  <LucideIcon
    icon="X"
    class="text-theme-dark hs-collapse-open:rotate-0 hs-collapse-open:scale-100 hs-collapse-open:opacity-100 absolute h-5 w-5 scale-75 -rotate-90 opacity-0 transition-all duration-300"
  />
</button>
