---
import { fetchEntry } from "@/utils/content";
import Image from "@/components/helpers/Image.astro";
import { overrideObjects } from "@/utils/core";
import { markdownify } from "@/utils/text";
import type { CollectionEntry } from "astro:content";

type SectionData = CollectionEntry<"sections">["data"];
type Props = {
  content?: SectionData | any;
  class?: string;
  width?: "sm" | "md";
};

let defaultContent = (await fetchEntry("sections", "customers"))?.data;
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as any;
let { enable = true, description, marquee = {}, list = [] } = actualContent;
const { class: className, width = "sm", ...rest } = Astro.props;
let baseList = [...list];
if (baseList.length > 0) {
  while (baseList.length < 16) {
    baseList = [...baseList, ...list];
  }
}
---

{
  enable && (
    <section class:list={[className]} {...rest}>
      <div class="container">
        <div
          class:list={[
            "mx-auto text-center",
            width === "sm" ? "max-w-screen-sm" : "max-w-3xl",
          ]}>
          {description && (
            <p
              class="shrink-0 text-center text-xs tracking-wider opacity-80"
              set:html={markdownify(description)}
            />
          )}
          <div class="relative mt-4 flex items-center overflow-hidden mask-[linear-gradient(to_right,rgba(0,0,0,0)_0%,rgb(0,0,0)_10%,rgb(0,0,0)_90%,rgba(0,0,0,0)_100%)]">
            <div
              class:list={[
                "animate-marquee flex w-max",
                { "hover:[animation-play-state:paused]": marquee.pauseOnHover },
              ]}
              style={{
                "--marquee-duration": marquee.duration || "50s",
                "--marquee-direction":
                  marquee.reverse === "reverse" ? "reverse" : "normal",
              }}>
              <div class="flex items-center justify-around gap-8 pr-8">
                {baseList.map((item: any) => (
                  <div class="flex h-5 w-max shrink-0 items-center justify-center md:h-6">
                    <Image
                      src={item.src}
                      alt={item.alt || ""}
                      class="h-full w-auto object-contain"
                      loading="eager"
                    />
                  </div>
                ))}
              </div>
              <div
                class="flex items-center justify-around gap-8 pr-8"
                aria-hidden="true">
                {baseList.map((item: any) => (
                  <div class="flex h-5 w-max shrink-0 items-center justify-center md:h-6">
                    <Image
                      src={item.src}
                      alt={item.alt || ""}
                      class="h-full w-auto object-contain"
                      loading="eager"
                    />
                  </div>
                ))}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
