---
import "@/styles/globals.css";

import Head from "@/components/global/Head.astro";
import BreakpointIndicator from "@/components/widgets/BreakpointIndicator.astro";
import GlobalScripts from "@/components/widgets/GlobalScripts.astro";
import PageLoader from "@/components/utilities/PageLoader.astro";
import config from ".astro/config.generated.json";
import type { JSONLDProps } from "@/utils/jsonLd";

type Props = JSONLDProps & {
  class?: string;
  fitToScreen?: boolean;
  draft?: boolean;
  metaTitle?: string;
  metaDescription?: string;
  robots?: string;
  excludeFromSitemap?: boolean;
  customSlug?: string;
  canonical?: string;
  status?: number;
  keywords?: string[];
  disableTagline?: boolean;
  structuredData?: Props;
  sectionSpacing?: "md" | "lg";
};
let { structuredData, class: className } = Astro.props;
---

<!doctype html>
<html lang={config.settings.multilingual.defaultLanguage || "en"}>
  <Head {...Astro.props} structuredData={structuredData} />
  <body>
    {!Astro.props.homepage && <PageLoader />}
    <main class:list={[className]}>
      <slot />
    </main>
    <GlobalScripts />
    <BreakpointIndicator />
  </body>
</html>
